<section>


  <h3  class="order-show-header">Shopping Cart</h3>
  <% cart = Order.find_by(id: session[:order_id]) %>

  <% if cart %>
  <section>
    <table>
      <thead>
        <tr>
          <th class="td">Product Name</th>
          <th class="td">Item Price</th>
          <th class="td">Quantity</th>
          <th class="td">Item Subtotal</th>
          <th class="td">Remove from Cart</th>
        </tr>
      </thead>

      <tbody>
        <% total = 0%>
        <% cart.order_items.each do |order_item| %>
        <tr>
          <td class="td"><%= link_to order_item.product.name, product_path(order_item.product.id) %></td>
          <td class="td"><%= order_item.product.price %> eggshells</td>
          <td class="td">
            <%= form_for order_item do |f| %>
              <%= f.select :quantity, (1..order_item.product.stock),{}, { value: order_item.quantity, onchange: 'this.form.submit();' }%>
            <% end %>
          </td>
          <td>
            <%subtotal = order_item.product.price * order_item.quantity%>
            <%= subtotal.round(2) %>
          </td>
          <% total += subtotal%>
          <td><%= link_to "Remove item", order_item_path(order_item), method: :delete, data: { confirm: "Are you sure you want to remove #{order_item.product.name} from the cart?" }, class: "btn btn-outline-danger" %>
          </td>
        </tr>
        <%end%>
      </tbody>
    </table>
</section>

    <section>
      <p class="sub"> Total: <%=total.round(2)%></p>
      
      <div>
      <p class="sub"><%= link_to "Checkout", edit_order_path(cart.id), class: "btn btn-info" %></p>
      </div>
    </section>
  <% end %>

</section>
