<main class="content-container">
<h2>
    Merchant Summary <%= "#{(Merchant.find_by(id: session[:merchant_id]).username)}"%>
</h2>

<p><%= "Joined site #{(Merchant.find_by(id: session[:merchant_id]).created_at)}" %></p>

<ul class="nav nav-tabs">
    <li class="nav-item">
        <a href="#total" class="nav-link tab-style" data-toggle="tab">Total Orders</a>
    </li>
    <li class="nav-item">
        <a href="#pending" class="nav-link tab-style" data-toggle="tab">Pending Orders</a>
    </li>
    <li class="nav-item">
        <a href="#completed" class="nav-link tab-style" data-toggle="tab"> Completed Orders</a>
    </li>
    <li class="nav-item">
        <a href="#cancelled" class="nav-link tab-style" data-toggle="tab">Cancelled Orders</a>
    </li>
</ul>

<div class="tab-content">
  
<ul class="tab-pane fade" id="total">
  <div class="card order-card" style="width 60%">
    <% @all_orders.each do |order| %>
      <p class="card-title">Order Number:  <%= order.id %><button type="button" class="btn btn-outline-primary btn-sm edit-btn-style">Edit</button> </p>
      <% order.order_items.each do |item| %>
        <p class="card-text order-item"><%= Product.find_by(id: item.product_id).name %></p>
      <% end %>
      <p><button type="button" class="btn btn-outline-primary btn-sm cancel-btn-style">Cancel Order</button></p>
    <% end %>
  </div>
  </div>
</ul>
  
<ul class="tab-pane fade" id="pending">
    <div class="card order-card" style="width 60%">
      <% @pending_orders.each do |order| %>
        <p class="card-title">Order Number:  <%= order.id %><button type="button" class="btn btn-outline-primary btn-sm edit-btn-style">Edit</button> </p>
          <% order.order_items.each do |item| %>
          <p class="card-text order-item"><%= Product.find_by(id: item.product_id).name %></p
        <% end %>
        <p><button type="button" class="btn btn-outline-primary btn-sm cancel-btn-style">Cancel Order</button></p>
      <% end %>
    </div>
  </div>
</ul>

<ul>
  <div class="tab-pane fade" id="completed">
  <div class="card order-card" style="width 60%">
  <% @pending_orders.each do |order| %>
    <p class="card-title">Order Number:  <%= order.id %><button type="button" class="btn btn-outline-primary btn-sm edit-btn-style">Edit</button> </p>
      <% order.order_items.each do |item| %>
      <p class="card-text order-item"><%= Product.find_by(id: item.product_id).name %></p
    <% end %>
    <p><button type="button" class="btn btn-outline-primary btn-sm cancel-btn-style">Cancel Order</button></p>
  <% end %>
</div>
</div>
  </div>
</ul>
<ul>
  <div class="tab-pane fade" id="cancelled">
        < <div class="card order-card" style="width 60%">
        <% @pending_orders.each do |order| %>
          <p class="card-title">Order Number:  <%= order.id %><button type="button" class="btn btn-outline-primary btn-sm edit-btn-style">Edit</button> </p>
            <% order.order_items.each do |item| %>
            <p class="card-text order-item"><%= Product.find_by(id: item.product_id).name %></p
          <% end %>
          <p><button type="button" class="btn btn-outline-primary btn-sm cancel-btn-style">Cancel Order</button></p>
        <% end %>
      </div>
      </div>
  </div>
</ul>

<ul class="tab-pane fade" id="pending">
    <div class="card order-card" style="width 60%">
      <% @pending_orders.each do |order| %>
        <p class="card-title">Order Number:  <%= order.id %><button type="button" class="btn btn-outline-primary btn-sm edit-btn-style">Edit</button> </p>
          <% order.order_items.each do |item| %>
          <p class="card-text order-item"><%= Product.find_by(id: item.product_id).name %></p
        <% end %>
        <p><button type="button" class="btn btn-outline-primary btn-sm cancel-btn-style">Cancel Order</button></p>
      <% end %>
    </div>
  </div>
</ul>
</div>
