<main class="content-container">
<h2>
    Merchant Summary <%= "#{@merchant.username}"%>
</h2>
<p>Joined site<%= "#{@merchant.created_at}" %></p>

<section class="merchant-products__container">
  <h3 class="merchant-products__header">Products</h3>
  
<table class="table"> 
<th> Product Name</th>
<th> Current Inventory</th>
<th> Amount Sold</th>
<th> Category</th>
<th> Price</th>
<th> Date Listed</th>





<tr>
<td><%= "Mayonnaise" %></td>
<td><%= "product.inventory" %></td>
<td><%= "product.sold "%></td>
<td><%= "product.category" %></td>
<td><%= "product.price" %></td>>
<td><%= "product.created_at" %></td>

</tr>
</table>
</section>
</main>